# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\QQ\j2002-1019-contact-maven\J2002-1019-contact-maven\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
